html { overflow-x: hidden }
* {
    font-family: 'Montserrat', sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
    color: #222;
    font-size: 1.1rem;
}
.logo {
    position: absolute;
    top:1%;
    left: 8%;
    height: 50px;
}
.profile {
    width: 80%;
    height: auto;
    -webkit-filter: grayscale(100%);filter: grayscale(100%);
}
.tittle {
    font-family: 'Cinzel', serif;
}
.about {
    margin-top: 20%;
    margin-bottom: 15%;
}
.links a {
    font-size: 2em;
    padding-right: 2rem;
    color: black;
}
.links { 
    margin-top: 10%;
}
.knowledge-icons i {
    font-size: 3em;
}
.line {
    width: 20%;
}
.line1 {
    width: 13%;
}
.project-img {
    width: 80%;
    height: auto;
}
.secondary-color {
    color: #F73022;
}
.navbar {
    padding: .8rem;
    background: white;
}
.navbar-nav li {
    padding-right: 50px;
}
.nav-link {
    font-size: 1.4rem;
}
canvas {
    position: absolute;
    z-index: -1;
}
.mt {
    margin-top: 8%;
}
.mb {
    margin-bottom: 8%;
}
.bg-color {
    background-color: rgb(244, 247, 248)
}
.social {
    margin-left: 38%;
}
 .social a {
    font-size: 3em;
    /* padding-left: 1rem;
    padding-right: 1rem; */
}
.social a i {
    padding-top: 40px;
    padding-left: 5%;
    color: #536173;
}
footer {
    color: white;
    padding-top: 1rem;
    height: 40%;
    background: #D66D75;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E29587, #D66D75);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E29587, #D66D75); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
}
.foot {
    background: #536173;
    color: white;
    height: 60px;
    text-align: center;
}

@media (min-width: 800px) and (max-width: 1024px) {
    .latest {
        font-size: 2.2rem;
    }
    .talk {
        font-size: 1.4rem;
    }
    .social {
        font-size: 1.6em;
        margin-top: 10%;
        margin-left: 27%;
    }
    
}
@media (max-width: 768px) {
    .social {
        margin-left: 25%;
    }
    .social a {
        font-size: 3.2em;
    }
    .social a i {
        padding-left: 1.8rem;
    }
    .profile {
        width: 40%;
        margin-left: 32%;
        /* margin-bottom: 10%;   */
    }
    .about1 {
        margin-top: 0;
        margin-left: 6%;
        padding-right: 0;
        margin-right: 0;
    }  
    
}


@media (max-width: 576px) {
    .logo {
        margin-top: 3%;
        width: 60px;
        height: 40px;
    }
    .social a {
        font-size: 3em;
        padding: .8rem;
    }
    .profile {
        width: 70%;
        margin-left: 15%; 
        margin-top: 30%;  
    }
    .mb {
        margin-top: 25%;
        margin-bottom: 25%;
    }
    .about {
        margin-top: 0;
    }
    .about1 {
        margin-left: 10%;
    }
    .latest {
        font-size: 1.6rem;
    }
    footer {
      height: 60%;  
    }
    .social {
        margin-left: 10%;
        margin-top: 10%;
    }
    .social a {
        padding-left: 0;
        padding-right: 0;
        font-size: 2.5em;
    }
}
@media (max-width: 325px) {
    .social {
        margin-left: 1%;
    } 
    .social a {
        font-size: 2em;
    }
    .social a i {
        padding-top: 2%;
    }
    .links a {
        padding-right: 1rem;
    }
}
