@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #222;
}
.logo {
    position: absolute;
    top:1%;
    left: 8%;
    height: 50px;
}
.profile {
    margin-left: 40%;
    width: 260px;
}
.secondary-color {
    color: #5ed1e6;
}
.navbar {
    padding: .8rem;
    background: white;
}
.navbar-nav li {
    padding-right: 50px;
}
.nav-link {
    font-size: 1.1rem !important;
}
canvas {
    z-index: -1;
}

.top-content {
    position: absolute;
    top: 30px;
    padding: 210px 100px;
}
.top-content .text h1 {
    margin-top: 25px;
    text-align: center;
}
.top-content .description {
    margin: 30px 0 10px 0;
}
.top-content .description p {
    opacity: 0.8;
}
.top-content .top-big-link {
    margin-top: 45px;
}
.bg-color {
    background-color: rgb(244, 247, 248)
}
.card img {
    width: 100%;
    height: 40%;
}

.padding {
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    
}
.display-6 {
    text-transform: uppercase;
    align-content: center;
    padding-left: 40%;
}
.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.welcome hr {
    border-top: 2px sodid #b4b4b4;
    width: 20%;
    margin-left: 60%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}
.align-center {
    padding-left: 50%;
    margin-bottom: 3%;
}
.line {
    width: 15%;
    margin-top: .3rem;
}
.fa-code {
    color: #e54d2e;
}
.fa-linkedin, .fa-github-square, .fa-google {
    color: #536173;
}

.fa-code, .fa-lightbulb {
    font-size: 4em;
    margin: 1rem;
}
.social a {
    font-size: 4.5em;
    padding-left: 1rem;

}
.social a i {
    padding-top: 40px;
}


footer {
    color: #d5d5d5;
    padding-top: 1rem;
    height: 180px;
    background: #70e1f5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media (max-width: 992px) {
    .social a{
        font-size: 4em;
        padding: 2rem;
    }
    
}
@media (max-width: 768px) {
    .social a{
        font-size: 3.2em;
        padding: 1.2rem;
    }
    .social a i {
        padding-left: 1.8rem;
    }
    .display-6 {
        font-size: 1.8rem;
    }
    .align-center {
        padding-left: 30%;
    }
    .profile {
        width: 200px;
        margin-left:  35%; 
        margin-bottom:  10%;  
    }
}
@media (max-width: 576px) {
    .logo {
        top:1%;
        left: 3%;
        width: 60px;
        height: 40px;
    }
    .social a {
        font-size: 3em;
        padding: .8rem;
    }
    .social a i {
        padding-top: 3.3rem;
    }
    .padding-text {
        padding-left: 30%
    }
    .profile {
        width: 180px;
        margin-left:  15%; 
        margin-bottom:  20%;  
    }
}